{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Login{% endblock %}
  {% block content %}

<div class="container h-100 align-items-center" >
  <div class="row align-items-center">
    <div class="col" >
      <div class="card rounded-pill shadow p-5 mt5 border-0 text-white" style="width: 35rem; margin: 0 auto; background-color: #003355; foreground-color: #FFFFFF;">
        <div class="card-body text-center">
          <h4 class="card-title text-center display-4">Login</h4>
          <br />
          <form method="post">
            <div class="form-group">
            {% csrf_token %}
            {% bootstrap_form form %}
              <a href="{% url 'password_reset' %}" class="btn btn-link d-block">Reset Password</a>
              <div class="pt-2">
            <button type="submit" class="btn btn-outline-success rounded-pill" value="Login">Login</button>
              </div>

            </div>
          </form>
        </div>
      </div>
      </div>
    </div>

</div>


    {% endblock %}
