{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Login{% endblock %}
  {% block content %}

  <div class="row align-items-center">
    <div class="col" >
      <div class="box">
        <div class="card-body text-center">
          <h4 class="card-title text-center display-4">Login</h4>
          <br />
          <form method="post">
            <div class="form-group">
            {% csrf_token %}
            {% bootstrap_form form %}
              <a href="{% url 'password_reset' %}" class="btn btn-default d-block text-info" id="#">Forgot Password </a>
              <div class="d-inline text-white">
              New Here ?
              <a href="{% url 'signup' %}" class="btn btn-default navbar-btn text-info"><h6 class="display-6 text-info ">Register</h6></a>
                </div>
              <div class="pt-2">
            <button type="submit" class="btn btn-outline-success rounded-pill" value="Login">Login</button>
              </div>

            </div>
          </form>

        </div>
      </div>
      </div>
    </div>



    {% endblock %}
