{% extends 'base.html' %}
{% block title %}{{object.title}} Details{% endblock %}
  {% block content %}
  <br />
  <br />
  <div class="card" style="width: 70rem; margin: 0 auto;">
    {% if obj.img %}<img src="{{obj.image}}" class="card-img-top" alt="...">
  {% endif %}
    <div class="card-body">
        <h1 class="display-4">{{object.title}}</h1>
      <p class="lead">{{object.description}}</p>
      <ul class="list-group list-group-flush">
      <li class="list-group-item text-right">{{object.creator}}<br /><small class="text-muted">Published on: {{object.created_date}}</small></li>
      <li class="list-group-item text-right">

        </li>
    </ul>

    </div>

  </div>
  {% if user == object.creator %}
<a class="btn btn-outline-primary mt-3 mb-1 btn-block " href="{% url 'post_edit' object.pk %}" role="button " data-toggle="tooltip"  data-placement="right" title="Edit Post">Edit</a>
{% endif %}
    {% endblock %}
