{% extends 'base.html' %}
{% block title %}{{object.title}} Details{% endblock %}
  {% block content %}
  <br />
  <br />
  <div class="box" id="box3" style="margin-top:5rem;" >
    {% if object.image %}<a href="{{object.image.url}}"><img src="{{object.image.url}}" id="myImg" alt="gardd" style="width:100%;"></a>
    {% endif %}
    <div class="text-white">
        <h1 class="display-4">{{object.title}}</h1>
        <p class="lead text-muted">Description:</p>
        <div class="cd-bd" id="detail_desc">
          <p class="lead">
            {{object.description}}
            </p>
            </div>



        <div  id="detail_date">
          {{object.creator}}<br /><small class="text-muted">Published on: {{object.created_date}}</small>
          </div>


    </div>
    {% if user == object.creator %}
  <a class="addbu " href="{% url 'post_edit' object.pk %}" role="button " data-toggle="tooltip"  data-placement="right" title="Edit Post">Edit</a>
  {% endif %}
  </div>

    {% endblock %}
