{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Blogs{% endblock %}
{% block decor %}
<div class="row" style="min-width: 100%;">
  <div class="col" id="nm">
<div class="welcome" style="background: url('{% static '/images/sZey8cPbJqg.jpg' %}');">
  <h1 class="display-1">BlogPost</h1>
  <p class="lead">
    By Ares Shrestha
    </p>
    {% if user.is_authenticated %}

    <div id="down">
      <a class="addbu" id="butt2"href="{% url 'post_new' %}"> New post </a>
    </div>

    {% endif %}
  </div>
</div>
    </div>
{% endblock decor %}
{% block content %}






<div class="wrapper">

{% for obj in object_list %}

    <div class="item" onclick="location.href='{% url 'detail' obj.pk %}';"style=cursor:pointer;">
      <div class="cd-im" >
        {% if obj.image %}
        <img src="{{obj.image.url}}" id="myImg" alt="Snow">
        {% endif %}
      </div>
        <div class="cd-hd">
          <h5>{{obj.title|title}}</h5>
        </div>
        <div class="cd-bd">
          <div class="desc_box">
            <p>
              {{obj.description|truncatechars:150}}
            </p>

            </div>
        </div>
        <div class="cd-ft">
        <p  id="list_date">
          {{obj.creator|title}}<br />
          <small class="text-muted">{{obj.created_date|naturaltime}}</small>
          </p>
        </div>
      </div>

{% endfor %}

  </div>
{% endblock content %}

{% block list_active %}
active
{% endblock list_active %}
